<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.packone.login"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/getfit_ic_launcher"
        android:label="GetFIT"
        android:largeHeap="false"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_start" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="GetFIT Registrierung 1/2">
        </activity>
        <activity android:name="info.androidhive.slidingmenu.NavigationActivity" >
        </activity>
        <activity
            android:name=".GoalActivity"
            android:label="@string/title_activity_goal" >
        </activity>
        <activity
            android:name="info.pack.selectgoal.WLifingActivity"
            android:label="@string/title_activity_wlifing" >
        </activity>
        <activity
            android:name=".ProgressActivity"
            android:label="@string/title_activity_progress" >
        </activity>
        <activity
            android:name=".HelpActivity"
            android:label="@string/title_activity_help" >
        </activity>
        <activity
            android:name=".RegistrierungFragenkatalogActivity"
            android:label="GetFIT Registrierung 2/2" >
        </activity>
    </application>

</manifest>