<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.packone.login"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="21" />

    <!-- PERMISSIONS -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"
        android:maxSdkVersion="18" />
    <!-- Include following permission if you load images from Internet -->
    <uses-permission
        android:name="android.permission.INTERNET"
        android:minSdkVersion="18" />

    <!-- ACTIVITYS -->
    <application
        android:name=".GlobalClass"
        android:allowBackup="true"
        android:icon="@drawable/launcher_getfit"
        android:label="GetFIT"
        android:largeHeap="false"
        android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
        <activity
            android:name=".reg.login.MainActivity"
            android:label="@string/title_activity_start" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".reg.login.RegisterActivity"
            android:label="GetFIT Registrierung 1/2" >
        </activity>
        <activity android:name="menu.androidhive.navdrawer.NavigationActivity" >
        </activity>
        <activity
            android:name=".GoalActivity"
            android:label="@string/title_activity_goal" >
        </activity>
        <activity
            android:name="menu.pack.selectgoal.WLifingActivity"
            android:label="@string/title_activity_wlifing" >
        </activity>
        <activity
            android:name=".ProgressActivity"
            android:label="@string/title_activity_progress" >
        </activity>
        <activity
            android:name=".reg.login.HelpActivity"
            android:label="@string/title_activity_help" >
        </activity>
        <activity
            android:name=".reg.login.RegistrierungFragenkatalogActivity"
            android:label="GetFIT Registrierung 2/2" >
        </activity>
        <activity
            android:name="ernaehrung.ErnaehrungActivity"
            android:label="@string/title_activity_ernaehrung" >
        </activity>
        <activity
            android:name=".AndroidXMLParsingActivity"
            android:label="Ernährungsdatenbank" >
        </activity>

        <!-- Single List Item View -->
        <activity
            android:name=".SingleMenuItemActivity"
            android:label="Ernährungsdatenbank" >
        </activity>
        <activity android:name="uebungsliste.BauchUebungen_Activity" />
        <activity android:name="uebungsliste.BrustUebungen_Activity" />
        <activity
            android:name=".reg.login.BodyInfoActivity"
            android:label="@string/title_activity_body_info" >
        </activity>
    </application>

</manifest>
